{% extends 'base.html.twig' %}

{% block title %}{{ 'home.seo.title'|trans|raw }}{% endblock %}

{% block seo %}
    <meta name="description" content="{{ 'home.seo.description'|trans|raw }}">

    <!-- Opengraph Meta Tags -->
    <meta property="og:url" content="https://baksla.sh">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ 'home.seo.title'|trans|raw }}">
    <meta property="og:description" content="{{ 'home.seo.description'|trans|raw }}">
    <meta property="og:image" content="https://baksla.sh/assets/image/bakslash.svg">

    <!-- X Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="baksla.sh">
    <meta property="twitter:url" content="https://baksla.sh">
    <meta name="twitter:title" content="{{ 'home.seo.title'|trans|raw }}">
    <meta name="twitter:description" content="{{ 'home.seo.description'|trans|raw }}">
    <meta name="twitter:image" content="https://baksla.sh/assets/image/bakslash.svg">
{% endblock %}

{% block content %}
    <section>
        <div class="container max-w-screen-xl mx-auto px-8 xl:px-4 py-12 lg:py-48">
            <div
                data-controller="header-typing"
                data-header-typing-hidden-class="hidden"
                data-header-typing-words-value="{{ [
                    'home.hero.words.experts',
                    'home.hero.words.lovers',
                    'home.hero.words.developers',
                    'home.hero.words.advocates'
                ]|map(word => word|trans)|json_encode }}"
                class="font-handwritten flex flex-wrap flex-row items-center justify-center"
            >
                {{- 'home.hero.we_are_experts'|trans|replace({
                    '<0>': '<span class="text-slate-800 text-6xl lg:text-8xl leading-none whitespace-nowrap">',
                    '</0>': '</span>',
                    '<1>': '<span class="tools w-16 h-16 lg:w-32 lg:h-32 mx-5 lg:mx-10 flex items-center">'
                        ~ component('UX:Icon', {name: 'mdi:symfony', 'aria-label': 'Symfony', 'data-header-typing-target': 'tool', width: 128, height: 128, class: 'size-16 lg:size-32'})
                        ~ component('UX:Icon', {name: 'devicon:php', 'aria-label': 'PHP', 'data-header-typing-target': 'tool', width: 128, height: 128, class: 'size-16 lg:size-32 hidden'})
                        ~ component('UX:Icon', {name: 'api-platform', 'aria-label': 'API Platform', 'data-header-typing-target': 'tool', width: 128, height: 128, class: 'size-16 lg:size-32 hidden'}),
                    '</1>': '</span>',
                    '<2>': '<div class="block md:hidden w-full">',
                    '</2>': '</div>',
                    '<3>': '<span data-header-typing-target="typewriter" class="text-slate-800 text-6xl lg:text-8xl leading-none">',
                    '</3>': '</span>',
                })|raw -}}
            </div>
        </div>
    </section>

    <section class="bg-gradient-to-b from-gray-100 to-gray-200">
        <div class="container max-w-screen-xl mx-auto">
            <div class="xl:rounded-lg shadow-inner" data-controller="code-parallax">
                <div data-code-parallax-target="background" class="absolute xl:rounded-t-lg bg-cover bg-code-img"></div>
                <div data-code-parallax-target="foreground" class="grid grid-cols-1 lg:grid-cols-5 gap-x-10 gap-y-28 lg:gap-y-36 px-10 py-16 md:px-20 md:pt-32 pb:40 lg:rounded-t-lg backdrop-blur-sm">
                    <div class="hidden lg:flex flex-col justify-center items-center col-span-2">
                        <h1 class="font-extrabold text-slate-100 text-4xl mb-5">
                            {{ 'home.section.real_oss_company.title'|trans|replace({
                                '<0>': '<span class="underline underline-offset-3 decoration-8 decoration-indigo-500">',
                                '</0>': '</span>',
                            })|raw }}
                        </h1>
                    </div>
                    <div class="col-span-2 lg:col-span-3">
                        <div class="lg:hidden flex flex-col justify-center items-center mb-5">
                            <h1 class="font-extrabold text-slate-100 text-4xl mb-5">
                                {{ 'home.section.real_oss_company.title'|trans|replace({
                                    '<0>': '<span class="underline underline-offset-3 decoration-8 decoration-indigo-500">',
                                    '</0>': '</span>',
                                })|raw }}
                            </h1>
                        </div>
                        <twig:Card>
                            <p class="text-gray-700">
                                {{- 'home.section.real_oss_company.content'|trans|replace({
                                    '<0>': '<span class="font-bold">',
                                    '</0>': '</span>',
                                    '<1>': '<span class="font-bold">',
                                    '</1>': '</span>',
                                })|raw -}}
                            </p>
                        </twig:Card>
                    </div>
                    <div class="col-span-2 lg:col-span-3">
                        <div class="lg:hidden flex flex-col justify-center items-center">
                            <h2 class="font-extrabold text-slate-100 text-4xl mb-5 underline underline-offset-3 decoration-8 decoration-indigo-500">
                                {{ 'home.section.symfony_evangelist.title'|trans|replace({
                                    '<0/>': '<img src="' ~ asset('images/symfony-white.png') ~ '" alt="symfony" class="inline h-12 mr-2 mb-2" loading="lazy" />',
                                })|raw }}
                            </h2>
                        </div>
                        <twig:Card>
                            <p class="text-gray-700">
                                {{- 'home.section.symfony_evangelist.content'|trans|replace({
                                    '<0>': '<span class="font-bold">',
                                    '</0>': '</span>',
                                })|raw -}}
                            </p>
                        </twig:Card>
                    </div>
                    <div class="hidden lg:flex flex-col justify-center items-center col-span-2">
                        <h2 class="font-extrabold text-slate-100 text-4xl mb-5 underline underline-offset-3 decoration-8 decoration-indigo-500">
                            {{ 'home.section.symfony_evangelist.title'|trans|replace({
                                '<0/>': '<img src="' ~ asset('images/symfony-white.png') ~ '" alt="symfony" class="inline h-12 mr-2 mb-2" loading="lazy" />',
                            })|raw }}
                        </h2>
                    </div>
                    <div class="hidden lg:flex flex-col justify-center items-center col-span-2">
                        <h2 class="font-extrabold text-slate-100 text-4xl mb-5">
                            {{ 'home.section.pragmatic_technologists.title'|trans|replace({
                                '<0>': '<span class="underline underline-offset-3 decoration-8 decoration-indigo-500">',
                                '</0>': '</span>',
                            })|raw }}
                        </h2>
                    </div>
                    <div class="col-span-2 lg:col-span-3">
                        <div class="lg:hidden flex flex-col justify-center items-center mb-5">
                            <h2 class="font-extrabold text-slate-100 text-4xl mb-5">
                                {{ 'home.section.pragmatic_technologists.title'|trans|replace({
                                    '<0>': '<span class="underline underline-offset-3 decoration-8 decoration-indigo-500">',
                                    '</0>': '</span>',
                                })|raw }}
                            </h2>
                        </div>
                        <twig:Card>
                            <p class="text-gray-700">
                                {{- 'home.section.pragmatic_technologists.content'|trans|replace({
                                    '<0>': '<span class="font-bold">',
                                    '</0>': '</span>',
                                })|raw -}}
                            </p>
                        </twig:Card>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shadow-xl">
        <div class="container max-w-screen-xl mx-auto">
            <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-5 gap-x-10 gap-y-8 px-10 py-16 md:py-32">
                <twig:Kpi kpi="{{ 'home.kpi.talks'|trans }}" value="20+" icon="php" icon-label="PHP" />
                <twig:Kpi kpi="{{ 'home.kpi.core_team'|trans }}" value="1" icon="symfony" icon-label="Symfony" />
                <twig:Kpi kpi="{{ 'home.kpi.core_team'|trans }}" value="1" icon="symfony-ux" icon-label="Symfony UX" />
                <twig:Kpi kpi="{{ 'home.kpi.contributions'|trans }}" value="1k+" icon="symfony" icon-label="Symfony" />
                <twig:Kpi kpi="{{ 'home.kpi.love_in_ecosystem'|trans }}" value="∞" icon="noto:red-heart" icon-label="love" class="col-span-2 sm:col-span-4 lg:col-span-1" />
            </div>
        </div>
    </section>

    <section class="bg-gradient-to-t from-gray-100 to-gray-200 px-8 xl:px-4 py-20">
        <div class="container max-w-screen-xl mx-auto">
            <div class="pb-20 lg:pt-10 lg:pb-28">
                <h2 class="text-4xl md:text-5xl font-bold leading-none tracking-tight text-slate-700">
                    {{- 'home.section.our_solutions.title'|trans|replace({
                        '<0>': '<span class="text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-indigo-600 to-blue-400">',
                        '</0>': '</span>',
                    })|raw -}}
                </h2>
                <div class="mt-6 lg:mt-20 grid grid-cols-1 md:grid-cols-2 gap-12">
                    <img src="{{ asset('images/talk.png') }}" alt="talk" class="rounded shadow-xl self-center w-full" />
                    <div class="flex flex-col justify-center">
                        <p class="text-center text-2xl md:text-3xl font-semibold text-slate-800">
                            {{ 'home.section.our_solutions.quote.content'|trans }}
                        </p>
                        <figcaption class="flex items-center justify-center space-x-3 mt-6">
                            <img class="w-6 h-6 rounded-full" src="{{ asset('images/chalasr.webp') }}" alt="Robin Chalas" loading="lazy" width="128" height="128">
                            <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-500">
                                <cite class="pe-3 font-medium text-slate-900">Robin Chalas</cite>
                                <cite class="ps-3 text-sm text-slate-700">{{ 'home.section.our_solutions.quote.author_role'|trans }}</cite>
                            </div>
                        </figcaption>
                        <div class="mt-12">
                            <p class="text-center text-slate-700 text-lg">
                                {{- 'home.section.our_solutions.content'|trans|replace({
                                    '<0>': '<span class="font-bold">',
                                    '</0>': '</span>',
                                    '<1>': '<span class="font-bold">',
                                    '</1>': '</span>',
                                })|raw -}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="text-3xl font-bold text-gray-600">
                {{- 'home.section.need_solution.title'|trans|replace({
                    '<0>': '<span class="underline underline-offset-3 decoration-8 decoration-indigo-500">',
                    '</0>': '</span>',
                })|raw -}}
            </h3>

            <div class="my-8 p-2 grid grid-cols-1 md:grid-cols-2 gap-6 rounded-lg">
                <twig:Card>
                    <h4 class="font-bold text-slate-700 text-2xl mb-3">
                        {{- 'home.card.custom_symfony_development.title'|trans -}}
                    </h4>
                    <p class="font-normal text-slate-700 text-md">
                        {{- 'home.card.custom_symfony_development.content'|trans|replace({
                            '<0>': '<span class="font-bold">',
                            '</0>': '</span>',
                        })|raw -}}
                    </p>
                </twig:Card>

                <twig:Card>
                    <h4 class="font-bold text-slate-700 text-2xl mb-3">
                        {{- 'home.card.cto_as_a_service.title'|trans -}}
                    </h4>
                    <p class="font-normal text-slate-700 text-md">
                        {{- 'home.card.cto_as_a_service.content'|trans|replace({
                            '<0>': '<span class="font-bold">',
                            '</0>': '</span>',
                        })|raw -}}
                    </p>
                </twig:Card>
            </div>

            <h3 class="mt-10 lg:mt-20 text-3xl font-bold text-gray-600">
                {{- 'home.section.try_to_upskill.title'|trans|replace({
                    '<0>': '<span class="underline underline-offset-3 decoration-8 decoration-indigo-500">',
                    '</0>': '</span>',
                })|raw -}}
            </h3>

            <div class="my-8 grid grid-cols-1 md:grid-cols-2 gap-6">
                <twig:Card color="purple">
                    <h4 class="font-bold text-slate-700 text-2xl mb-3">
                        {{- 'home.card.workshops_and_trainings.title'|trans -}}
                    </h4>
                    <p class="font-normal text-slate-700 text-md">
                        {{- 'home.card.workshops_and_trainings.content'|trans|replace({
                            '<0>': '<span class="font-bold">',
                            '</0>': '</span>',
                        })|raw -}}
                    </p>
                </twig:Card>
                <twig:Card color="purple">
                    <h4 class="font-bold text-slate-700 text-2xl mb-3">
                        {{- 'home.card.coaching.title'|trans -}}
                    </h4>
                    <p class="font-normal text-slate-700 text-md">
                        {{- 'home.card.coaching.content'|trans|replace({
                            '<0>': '<span class="font-bold">',
                            '</0>': '</span>',
                        })|raw -}}
                    </p>
                </twig:Card>
            </div>

            <h3 class="mt-10 lg:mt-20 text-3xl font-bold text-gray-600">
                {{- 'home.section.need_expertise.title'|trans|replace({
                    '<0>': '<span class="underline underline-offset-3 decoration-8 decoration-indigo-500">',
                    '</0>': '</span>',
                })|raw -}}
            </h3>

            <div class="my-8 grid grid-cols-1 md:grid-cols-2 gap-6">
                <twig:Card color="violet">
                    <h4 class="font-bold text-slate-700 text-2xl mb-3">
                        {{- 'home.card.audit.title'|trans -}}
                    </h4>
                    <p class="font-normal text-slate-700 text-md">
                        {{- 'home.card.audit.content'|trans|replace({
                            '<0>': '<span class="font-bold">',
                            '</0>': '</span>',
                            '<1>': '<span class="font-bold">',
                            '</1>': '</span>',
                        })|raw -}}
                    </p>
                </twig:Card>

                <twig:Card color="violet">
                    <h4 class="font-bold text-slate-700 text-2xl mb-3">
                        {{- 'home.card.architecture_study.title'|trans -}}
                    </h4>
                    <p class="font-normal text-slate-700 text-md">
                        {{- 'home.card.architecture_study.content'|trans|replace({
                            '<0>': '<span class="font-bold">',
                            '</0>': '</span>',
                        })|raw -}}
                    </p>
                </twig:Card>
            </div>
        </div>
    </section>

    <section class="bg-gray-200 px-8 xl:px-4 py-16">
        <div class="container max-w-screen-xl mx-auto">
            <h2 class="mb-10 text-3xl md:text-4xl font-bold leading-none tracking-tight text-slate-700">
                {{- 'home.section.they_trust_us.title'|trans -}}
            </h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-10 md:gap-2">
                <img src="{{ asset('images/drdata.png') }}" class="w-4/5 mx-auto my-auto" alt="DrData" loading="lazy" width="638" height="160">
                <img src="{{ asset('images/bluspark.svg') }}" class="w-4/5 mx-auto my-auto" alt="Bluspark" loading="lazy" width="165" height="42">
                <img src="{{ asset('images/fdj.png') }}" class="w-4/5 mx-auto my-auto" alt="FDJ" loading="lazy" width="499" height="238">
                <img src="{{ asset('images/wamiz.png') }}" class="w-4/5 mx-auto my-auto" alt="Wamiz" loading="lazy" width="225" height="86">
                <img src="{{ asset('images/synapsun.png') }}" class="w-4/5 mx-auto my-auto" alt="Synapsun" loading="lazy" width="467" height="117">
                <img src="{{ asset('images/yousign.png') }}" class="w-4/5 mx-auto my-auto" alt="Yousign" loading="lazy" width="500" height="146">
                <img src="{{ asset('images/nestle.png') }}" class="w-4/5 mx-auto my-auto" alt="Nestlé" loading="lazy" width="500" height="136">
                <img src="{{ asset('images/zeturf.png') }}" class="w-4/5 mx-auto my-auto" alt="Zeturf" loading="lazy" width="500" height="281">
            </div>
        </div>
    </section>
{% endblock %}
