<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="scroll-pt-[10rem]">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <!-- Styles -->
        {% block stylesheets %}
            <style>
                /* Generated through fontpie, e.g.: "pnpx fontpie ./Inter-Regular.woff2" */
                @font-face { font-family: 'Inter Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 86.99%; descent-override: 21.66%; line-gap-override: 0.00%; size-adjust: 111.36%; }
                @font-face { font-family: 'Inter Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 89.79%; descent-override: 22.36%; line-gap-override: 0.00%; size-adjust: 107.89%; }
                @font-face { font-family: 'JetBrains Mono Fallback'; font-style: normal; font-weight: 400 700; src: local('Arial'); ascent-override: 77.57%; descent-override: 22.82%; line-gap-override: 0.00%; size-adjust: 131.49%; }
                @font-face { font-family: 'Space Grotesk Fallback'; font-style: normal; font-weight: 300 700; src: local('Arial'); ascent-override: 88.78%; descent-override: 26.34%; line-gap-override: 0.00%; size-adjust: 110.84%; }
            </style>
        {% endblock %}

        <!-- Scripts -->
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <!-- Metadata & cie -->
        {% block seo %}
        {% endblock %}

        <!-- Favicon links -->
        <link rel="icon" type="image/png" href="{{ asset('images/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="{{ asset('images/favicon.svg') }}">
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    </head>
    <body class="bg-paper min-h-screen flex flex-col">
        {% if ga_measurement_id %}
            <div data-controller="analytics" data-analytics-measurement-id-value="{{ ga_measurement_id }}" data-analytics-app-name-value="{{ ga_app_name }}"></div>
        {% endif %}

        {% block body %}
            <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:z-50 focus:p-4 focus:bg-white focus:text-slate-800 focus:underline">
                {{- 'header.skip_to_content'|trans -}}
            </a>

            <twig:website:Navbar />

            <main id="main-content" class="grow pb-20 lg:pb-32">
                {% block content %}{% endblock %}
            </main>

            <twig:website:Footer />
        {% endblock %}
    </body>
</html>
