<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <!-- Styles -->
        {% block stylesheets %}
            <style>
                /* Generated through fontpie, e.g.: "pnpx fontpie ./Poppins-SemiBold.woff2" */
                @font-face { font-family: 'Kalam Light Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 114.42%; descent-override: 57.16%; line-gap-override: 0.00%; size-adjust: 92.90%; }
                @font-face { font-family: 'Kalam Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 110.75%; descent-override: 55.32%; line-gap-override: 0.00%; size-adjust: 95.98%; }
                @font-face { font-family: 'Kalam Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 104.53%; descent-override: 52.22%; line-gap-override: 0.00%; size-adjust: 101.69%; }
                @font-face { font-family: 'Poppins Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 92.83%; descent-override: 30.94%; line-gap-override: 8.84%; size-adjust: 113.11%; }
                @font-face { font-family: 'Poppins Medium Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 91.82%; descent-override: 30.61%; line-gap-override: 8.74%; size-adjust: 114.36%; }
                @font-face { font-family: 'Poppins SemiBold Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 90.85%; descent-override: 30.28%; line-gap-override: 8.65%; size-adjust: 115.57%; }
                @font-face { font-family: 'Poppins Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 89.77%; descent-override: 29.92%; line-gap-override: 8.55%; size-adjust: 116.97%; }
                @font-face { font-family: 'Poppins ExtraBold Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 88.85%; descent-override: 29.62%; line-gap-override: 8.46%; size-adjust: 118.17%; }
                @font-face { font-family: 'Inter Light Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 93.44%; descent-override: 23.26%; line-gap-override: 0.00%; size-adjust: 103.68%; }
                @font-face { font-family: 'Inter Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 91.59%; descent-override: 22.81%; line-gap-override: 0.00%; size-adjust: 105.77%; }
                @font-face { font-family: 'Inter Bold Fallback'; font-style: normal; font-weight: 400; src: local('Arial'); ascent-override: 88.18%; descent-override: 21.96%; line-gap-override: 0.00%; size-adjust: 109.86%; }
            </style>
        {% endblock %}

        <!-- Metadata & cie -->
        {% block seo %}
        {% endblock %}

        <!-- Favicon links -->
        <link rel="icon" type="image/png" href="{{ asset('images/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="{{ asset('images/favicon.svg') }}">
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-white min-h-screen flex flex-col">
        <div data-controller="analytics" data-analytics-measurement-id-value="{{ ga_measurement_id }}" data-analytics-app-name-value="{{ ga_app_name }}"></div>

        {% block body %}
            <section class="py-10">
                <div class="container max-w-screen-xl mx-auto px-8 xl:px-4">
                    <nav class="flex items-center justify-between">
                        <a href="{{ path('app_home') }}" title="Bakslash">
                            <img src="{{ asset('images/bakslash.svg') }}" alt="baksla.sh" class="h-10 hidden sm:block" loading="eager" fetchpriority="high" width="300" height="40">
                            <img src="{{ asset('images/bakslash-small.svg') }}" alt="baksla.sh" class="size-10 sm:hidden" loading="eager" fetchpriority="high" width="62" height="62">
                        </a>
                        <a href="mailto:hello@baksla.sh" class="font-medium lg:font-semibold text-slate-800 text-xl hover:underline underline-offset-3 decoration-4 decoration-indigo-500">hello@baksla.sh</a>
                    </nav>
                </div>
            </section>

            <div class="grow">
                {% block content %}{% endblock %}
            </div>

            <footer class="py-10">
                <div class="container max-w-screen-xl mx-auto px-4 md:px-8 flex items-center md:flex-row flex-col md:justify-between">
                <span class="text-sm text-slate-700 flex items-center md:justify-start justify-center">
                    {{- 'footer.copyright'|trans({
                        year: 'now'|date('Y'),
                    }) -}}
                </span>
                    <ul class="flex flex-wrap justify-center items-center mt-3 text-md font-medium sm:mt-0">
                        <li>
                            <a href="{{ path('app_blog') }}" class="opacity-50 hover:opacity-100 hover:underline me-4 md:me-6">
                                {{- 'footer.link.blog'|trans -}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_legal_notices') }}" class="opacity-50 hover:opacity-100 hover:underline me-4 md:me-6">
                                {{- 'footer.link.legal_notices'|trans -}}
                            </a>
                        </li>
                    </ul>
                    <ul class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium sm:mt-0">
                        <li class="h-full">
                            <a href="https://github.com/bakslashHQ" class="hover:underline me-4 md:me-6 h-full flex items-center">
                                <twig:UX:Icon name="logos:github" alt="github" class="h-5 mt-2 md:h-6 md:mt-0 opacity-50 hover:opacity-100 grayscale hover:grayscale-0 transition" />
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/BakslashHQ" class="hover:underline me-4 md:me-6 h-full flex items-center">
                                <twig:UX:Icon name="logos:x" alt="X (Twitter)" class="h-5 mt-2 md:h-6 md:mt-0 opacity-50 hover:opacity-100 grayscale hover:grayscale-0 transition" />
                            </a>
                        </li>
                        <li>
                            <a href="https://bsky.app/profile/baksla.sh" class="hover:underline me-4 md:me-6 h-full flex items-center">
                                <twig:UX:Icon name="logos:bluesky" alt="Bluesky" class="h-5 mt-2 md:h-6 md:mt-0 opacity-50 hover:opacity-100 grayscale hover:grayscale-0 transition" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/bakslashhq" class="hover:underline me-4 md:me-6 h-full flex items-center">
                                <twig:UX:Icon name="logos:linkedin" alt="LinkedIn" class="h-5 mt-2 md:h-6 md:mt-0 opacity-30 hover:opacity-100 grayscale hover:grayscale-0 transition" />
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
