<section aria-label="baksla.sh's values" class="bg-gradient-to-b from-white to-gray-200">
    <div class="container max-w-screen-xl mx-auto">
        <div class="xl:rounded-t-xl">
            <div class="flex bg-code-dark-gray ring-1 ring-white/5 xl:rounded-t-xl border-b border-b-white/20" aria-hidden="true">
                <div class="-mb-px flex text-sm/6 font-medium text-gray-400 rounded-t-xl">
                    <div class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 px-4 py-2 text-white">README.md</div>
                    <div class="border-r border-gray-600/10 px-4 py-2">index.php</div>
                </div>
            </div>
            <figure class="w-full bg-code-dark-gray sm:pt-20 text-gray-300 text-md sm:text-lg whitespace-normal">
                <div class="px-5 sm:px-10 max-sm:max-h-[60dvh] max-sm:overflow-y-auto max-sm:pt-10 max-sm:pb-12">
                    <div class="flex flex-row items-start justify-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;1</pre>
                        <code class="text-2xl sm:text-4xl font-bold whitespace-normal text-gray-300">#&nbsp;{{- 'home.code.real_oss_company.title'|trans|replace({
                            '<0>': '<span class="underline decoration-4 sm:decoration-8 decoration-blue-400">',
                            '</0>': '</span>',
                        })|raw -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;2</pre>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;3</pre>
                        <code class="whitespace-normal">{{- 'home.code.real_oss_company.content_1'|trans -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;4</pre>
                        <code class="whitespace-normal">{{- 'home.code.real_oss_company.content_2'|trans -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;5</pre>
                    </div>
                    <div class="flex flex-row items-start justify-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;6</pre>
                        <code class="whitespace-normal underline underline-offset-4 text-code-yellow font-bold">{{- 'home.code.real_oss_company.content_3'|trans -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;7</pre>
                    </div>
                    <div aria-hidden="true" class="flex flex-row items-start">
                        <pre class="pr-5 text-right opacity-65">&nbsp;8</pre>
                        <code class="whitespace-normal text-rose-400 fond-bold">---</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">&nbsp;9</pre>
                    </div>
                    <div class="flex flex-row items-start justify-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">10</pre>
                        <code class="text-2xl sm:text-4xl font-bold whitespace-normal text-gray-300">#&nbsp;{{- 'home.code.symfony_evangelist.title'|trans|replace({
                            '<0/>': '<img src="' ~ asset('images/symfony-white.png') ~ '" alt="symfony" class="inline h-8 sm:h-12 mb-1 sm:mb-2" loading="lazy" />',
                            '<1>': '<span class="underline decoration-4 sm:decoration-8 decoration-indigo-500">',
                            '</1>': '</span>',
                        })|raw -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">11</pre>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">12</pre>
                        <code class="whitespace-normal">{{- 'home.code.symfony_evangelist.content_1'|trans|replace({
                            '<0>': '<span class="underline underline-offset-4 text-code-yellow font-bold">',
                            '</0>': '</span>',
                        })|raw -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">13</pre>
                    </div>
                    <div aria-hidden="true"  class="flex flex-row items-start">
                        <pre class="pr-5 text-right opacity-65">14</pre>
                        <code class="whitespace-normal text-rose-400 fond-bold">---</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">15</pre>
                    </div>
                    <div class="flex flex-row items-start justify-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">16</pre>
                        <code class="text-2xl sm:text-4xl font-bold whitespace-normal text-gray-300">#&nbsp;{{- 'home.code.pragmatic_technologists.title'|trans|replace({
                            '<0>': '<span class="underline decoration-4 sm:decoration-8 decoration-violet-500">',
                            '</0>': '</span>',
                        })|raw -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">17</pre>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">18</pre>
                        <code class="whitespace-normal">{{- 'home.code.pragmatic_technologists.content_1'|trans|replace({
                            '<0>': '<span class="underline underline-offset-4 text-code-yellow font-bold">',
                            '</0>': '</span>',
                        })|raw -}}</code>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">19</pre>
                    </div>
                    <div class="flex flex-row items-start">
                        <pre aria-hidden="true" class="pr-5 text-right opacity-65">20</pre>
                        <code class="whitespace-normal">{{- 'home.code.pragmatic_technologists.content_2'|trans -}}<span class="animate-blink">&block;</span></code>
                    </div>
                </div>
                <div aria-hidden="true" class="flex flex-row items-start justify-between sm:mt-24 bg-white/5 text-blue-400">
                    <code aria-hidden="true" class="truncate">
                        <span class="px-3 py-1 bg-blue-400 text-gray-900 mx-0">NORMAL</span>
                        <span class="-ml-3 px-3 py-1 bg-blue-400/15 text-blue-300 max-sm:hidden">feat/our-values</span>
                        <span class="-ml-3 px-3 py-1 max-md:hidden">~/dev/baksla.sh/README.md</span>
                    </code>
                    <code class="overflow-hidden whitespace-nowrap">
                        <span class="px-3 py-1">markdown</span>
                        <span class="-ml-3 px-3 py-1 bg-blue-400/15 text-blue-300">100%</span>
                        <span class="-ml-3 px-3 py-1 bg-blue-400 text-gray-900 max-sm:hidden">12:233</span>
                    </code>
                </div>
            </figure>
        </div>
    </div>
</section>
