{% macro kpi(name, value, icon, iconLabel, class = '') %}
    <div {% if class %}class="{{ class }}"{% endif %}>
        <div class="flex flex-col justify-center bg-gray-400/5 p-8">
            <span class="font-bold text-gray-800 tracking-tight text-4xl text-center">{{ value }}</span>
            <div class="flex flex-row justify-center">
                <div class="flex justify-center items-center whitespace-nowrap">
                    <twig:UX:Icon name="{{ icon }}" aria-label="{{ iconLabel }}" class="h-8 mr-2" />
                    <span class="font-medium text-gray-600 text-lg">{{ name }}</span>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

<section aria-label="baksla.sh in numbers" class="pb-24 sm:pb-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="container max-w-screen-xl mx-auto">
            <div class="mt-8 grid grid-cols-2 max-sm:gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-5">
                {{ _self.kpi(name: 'home.kpi.projects'|trans, value: '15+', icon: 'ix:project-simulation', iconLabel: 'Projects') }}
                {{ _self.kpi(name: 'home.kpi.collaborators'|trans, value: '9', icon: 'mdi:duck', iconLabel: 'Collaborators') }}
                {{ _self.kpi(name: 'home.kpi.core_team'|trans, value: '3', icon: 'logos:symfony', iconLabel: 'Symfony') }}
                {{ _self.kpi(name: 'home.kpi.talks'|trans, value: '20+', icon: 'logos:php', iconLabel: 'PHP') }}
                {{ _self.kpi(name: 'home.kpi.love_in_ecosystem'|trans, value: '∞', icon: 'noto:red-heart', iconLabel: 'love', class: 'col-span-2 sm:col-span-4 lg:col-span-1') }}
            </div>
        </div>
    </div>
</section>
