<section aria-label="baksla.sh's partners" class="sm:pt-24 pb-10 sm:pb-16 px-8 xl:px-4">
    <div class="container max-w-screen-xl mx-auto text-center flex flex-col justify-center items-center">
        <h2 class="text-xl text-slate-800 sm:text-2xl lg:w-1/2">{{- 'home.partners.they_trust_us.title'|trans|replace({
            '<0/>': '<a href="mailto:hello@baksla.sh" class="font-semibold hover:underline underline-offset-3 decoration-4 decoration-indigo-500">hello@baksla.sh</a>',
        })|raw -}}</h2>

        <div class="mx-auto mt-20 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
            <img class="col-span-2 max-h-10 w-full object-contain lg:col-span-1" src="{{ asset('images/clients/drdata.png') }}" alt="DrData" width="250" height="63" loading="lazy">
            <img class="col-span-2 max-h-14 w-full object-contain lg:col-span-1" src="{{ asset('images/clients/fdj.png') }}" alt="FDJ" width="250" height="119" loading="lazy">
            <img class="col-span-2 max-h-10 w-full object-contain lg:col-span-1" src="{{ asset('images/clients/yousign.png') }}" alt="Yousign" width="250" height="73" loading="lazy">
            <img class="col-span-2 max-h-7 w-full object-contain sm:col-start-2 lg:col-span-1" src="{{ asset('images/clients/sensiolabs.png') }}" alt="Sensiolabs" width="250" height="39" loading="lazy">
            <img class="col-span-2 col-start-2 max-h-7 w-full object-contain sm:col-start-auto lg:col-span-1" src="{{ asset('images/clients/authwire.png') }}" alt="Authwire" width="248" height="37" loading="lazy">
        </div>
    </div>
</section>
