{% set textColor = '' %}
{% set leftColor = '' %}
{% set rightColor = '' %}
{% set leftBorder = 'border-r border-gray-200' %}
{% set py = 'py-0.5' %}
{% set beforeContent = '' %}

{% if type is defined %}
    {% if '-' == type %}
        {% set leftColor = 'bg-red-100' %}
        {% set rightColor = 'bg-red-50' %}
        {% set leftBorder = '' %}
        {% set beforeContent = 'before:content-["-"] before:mr-2 before:font-bold before:text-red-600' %}
    {% elseif '+' == type %}
        {% set leftColor = 'bg-green-100' %}
        {% set rightColor = 'bg-green-50' %}
        {% set leftBorder = '' %}
        {% set beforeContent = 'before:content-["+"] before:mr-2 before:font-bold before:text-green-600' %}
    {% elseif 'expand' == type %}
        {% set textColor = 'text-gray-400' %}
        {% set leftColor = 'bg-blue-50' %}
        {% set rightColor = 'bg-blue-50/50' %}
        {% set leftBorder = '' %}
        {% set py = 'py-1.5' %}
    {% endif %}
{% else %}
    {% set type = '' %}
{% endif %}

<div class="flex flex-row w-full hover:bg-gray-50/50">
    <div class="flex items-center justify-end w-12 sm:w-16 grow-0 shrink-0 px-2 sm:px-3 {{ py }} {{ leftColor }} {{ leftBorder }} {{ textColor }} text-gray-400 select-none text-xs">
        {% if 'expand' == type %}
        <twig:UX:Icon aria-hidden="true" name="mdi:arrow-up-down" class="h-3.5 text-gray-400" />
        {% else %}
        <span class="{{ beforeContent }}">{{ number }}</span>
        {% endif %}
    </div>
    <div class="flex items-center grow overflow-x-hidden whitespace-pre px-3 {{ py }} {{ rightColor }} {{ textColor }}">{% block content %}{% endblock %}</div>
</div>
