<div {{ attributes }}>
    <div class="flex flex-col justify-center">
        <p class="font-roboto font-extrabold text-slate-800 text-5xl md:text-7xl mb-2 text-center">{{ value }}</p>
        <div class="flex flex-row justify-center">
            <div class="h-10 md:h-14 -mr-5 z-10">
                <twig:UX:Icon name="{{ icon }}" aria-label="{{ attribute(this.props, 'icon-label') }}" class="h-full" />
            </div>
            <div class="flex justify-center items-center">
                <span class="font-medium text-slate-100 text-xl flex justify-center items-center whitespace-nowrap bg-indigo-500 pl-7 pr-2 rounded-sm">
                    {{ kpi }}
                </span>
            </div>
        </div>
    </div>
</div>
